<section id="banner">
  <!-- <div class="container"> -->
    <div class="parralax" [ngStyle]="{'background-image':'url(/assets/banner/3.jpg)'}">
      <h1> Welcome To Parallax</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, ut assumenda quidem officia illum vel
      delectus et optio nihil nisi culpa dignissimos aut adipisci? Sunt error incidunt alias perferendis, aliquam
      necessitatibus blanditiis ea quam inventore? Vitae corporis quos nostrum rem. Impedit commodi minima cupiditate
      ipsa ut. Autem non corporis perferendis magnam. Architecto nobis suscipit, aspernatur repudiandae nihil debitis
      expedita minus tempora delectus rem explicabo doloribus iusto cupiditate! Quia voluptates id at pariatur debitis
      nisi? Quidem mollitia obcaecati minus ipsa perferendis ratione natus dolore iusto. Impedit aperiam tempore
      perspiciatis eaque debitis sit ipsam quasi, necessitatibus vel nostrum, corporis alias, nam laborum neque
      laboriosam atque nihil! Voluptatum, vitae atque! In voluptatibus neque voluptate expedita eligendi? Porro illo
      facere, quia saepe quis totam maxime necessitatibus voluptate sint facilis cum ex veniam eius placeat. Assumenda,
      voluptatem, totam quo laboriosam, a non unde ipsum possimus! Maiores quisquam aut minima laudantium


    </p>
    <div class="parralax" [ngStyle]="{'background-image':'url(/assets/banner/12.jpg)'}">
    </div>
    <div class="parralax" [ngStyle]="{'background-image':'url(/assets/banner/1.jpg)'}">
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, ut assumenda quidem officia illum vel
      delectus et optio nihil nisi culpa dignissimos aut adipisci? Sunt error incidunt alias perferendis, aliquam
      necessitatibus blanditiis ea quam inventore? Vitae corporis quos nostrum rem. Impedit commodi minima cupiditate
      ipsa ut. Autem non corporis perferendis magnam. Architecto nobis suscipit, aspernatur repudiandae nihil debitis
      expedita minus tempora delectus rem explicabo doloribus iusto cupiditate! Quia voluptates id at pariatur debitis
      nisi? Quidem mollitia obcaecati minus ipsa perferendis ratione natus dolore iusto. Impedit aperiam tempore
      perspiciatis eaque debitis sit ipsam quasi, necessitatibus vel nostrum, corporis alias, nam laborum neque
      laboriosam atque nihil! Voluptatum, vitae atque! In voluptatibus neque voluptate expedita eligendi? Porro illo
      facere, quia saepe quis totam maxime necessitatibus voluptate sint facilis cum ex veniam eius placeat. Assumenda,
      voluptatem, totam quo laboriosam, a non unde ipsum possimus! Maiores quisquam aut minima laudantium
    </p>



    <div class="row p-3">
      <div class="col-4">
        <div class="par"[ngStyle]="{'background-image':'url(/assets/banner/8.jfif)'}"></div>
      </div>
      <div class="col-8">
        <p class="p-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, ut assumenda quidem officia illum vel
          delectus et optio nihil nisi culpa dignissimos aut adipisci? Sunt error incidunt alias perferendis, aliquam
          necessitatibus blanditiis ea quam inventore? Vitae corporis quos nostrum rem. Impedit commodi minima cupiditate
          ipsa ut. Autem non corporis perferendis magnam. Architecto nobis suscipit, aspernatur repudiandae nihil debitis
          expedita minus tempora delectus rem explicabo doloribus iusto cupiditate! Quia voluptates id at pariatur debitis
          nisi? Quidem mollitia obcaecati minus ipsa perferendis ratione natus dolore iusto. Impedit aperiam tempore
          possimus! Maiores quisquam aut minima laudantium
        </p>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-8">
        <p class="p-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, ut assumenda quidem officia illum vel
          delectus et optio nihil nisi culpa dignissimos aut adipisci? Sunt error incidunt alias perferendis, aliquam
          necessitatibus blanditiis ea quam inventore? Vitae corporis quos nostrum rem. Impedit commodi minima cupiditate
          ipsa ut. Autem non corporis perferendis magnam. Architecto nobis suscipit, aspernatur repudiandae nihil debitis
          expedita minus tempora delectus rem explicabo doloribus iusto cupiditate! Quia voluptates id at pariatur debitis
          nisi? Quidem mollitia obcaecati minus ipsa perferendis ratione natus dolore iusto. Impedit aperiam tempore
          possimus! Maiores quisquam aut minima laudantium
        </p>
      </div>
      <div class="col-4">
        <div class="par"[ngStyle]="{'background-image':'url(/assets/banner/6.jfif)'}"></div>
      </div>
    </div>
  <!-- </div> -->
</section>

